<%- include('../partials/head.ejs'); %>
<%- include('../partials/header.ejs'); %>

<div class="content">
    <section class="container">

        <h1>Settings</h1>

        <div style="display: flex;">
            <div style="min-width: 300px;">
                <ul>
                    <li><a href="/settings/profile/">Profile</a></li>
                    <li><a href="/settings/images/">Profile Images</a></li>
                    <li><a href="/settings/email/">Email</a></li>
                    <li><a href="/settings/password/">Password</a></li>
                </ul>
            </div>

            <div style="width: 100%;">
                <h2>Change your account's password</h2>
                <form action="/settings/profile" method="post">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" id="password" name="password" pattern="[0-9a-zA-Z]{8,26}$" title="Enter a password at least 8 chatacters long. Letters and numbers only." required>
                      </div>
                
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" required>
                      </div>
                    <button type="submit">Save</button>
                </form>



            </div>


        </div>


    </section>
</div>
<script>
    let password = document.getElementById("password");
    let confirm_password = document.getElementById("confirm_password");
    
    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
        confirm_password.reportValidity();
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    </script>

<%- include('../partials/footer.ejs'); %>