<!-- <footer class="footer">
  <div class="container">
    <nav class="navigation">
        <ul class="primary">
          <li><a href="/about">About</a></li>
        </ul>
        <ul class="secondary">
          <li><a href="/">© 2018 Wonder Unit Inc.</a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
  </div>
</footer>
 -->


<footer class="footer">
    <!-- <section class="footer-top">
        <div class="container">
            <div style="display: flex; align-items: center; margin-bottom: 40px;">
                <div>
                    <svg class="logo-footer" viewBox="0 0 68.625 68.625">
                        <use xlink:href="/gfx/logo.svg#logo1" />
                    </svg>
                </div>
                <div style="margin-left: 20px;">
                    <h3 class="color-footer-top">Storyboarders</h3>
                </div>
            </div>
            <div style="display: flex;">
                <div style="max-width: 550px; min-width: 350px; line-height: 1.7em; margin-right: 40px;">

                    <p>We want this to be a place you come to every day to see great, new work. We want this to be a
                        place where you can post your boards to and get helpful feedback and criticsm from the
                        community.</p>

                    <p>We've just started working on it, so please let us know what we can do to make it better!</p>
                </div>
                <div class="row" style="line-height: 1.7em; ">
                    <p><strong>Some more links...</strong></p>
                    <p>Wonder Unit is a studio that makes movies. We spend a lot of time in creative development,
                        building tools, and being smarter about creating the best stories.</p>

                </div>
                <div class="row">
                    Wonder Unit is a studio that makes movies. We spend a lot of time in creative development, building
                    tools, and being smarter about creating the best stories.

                </div>
            </div>

        </div>
    </section> -->
<!-- 
    <section class="footer-bottom">
        <div class="container">
            <div class="row">
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/storyboards">Explore</a></li>
                    <li><a href="/storyboarders">Storyboarders</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="row">
                <p class="copyright">&copy; 2018  WONDER UNIT, Inc. All rights reserved.</p>
            </div>
        </div>
        </div>
    </section> -->
</footer>

</body>

</html>