<!--
   /$$$$$$    /$$                                   /$$                                           /$$                              
 /$$__  $$  | $$                                  | $$                                          | $$                              
| $$  \__/ /$$$$$$    /$$$$$$   /$$$$$$  /$$   /$$| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$   /$$$$$$$
|  $$$$$$ |_  $$_/   /$$__  $$ /$$__  $$| $$  | $$| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$_____/
 \____  $$  | $$    | $$  \ $$| $$  \__/| $$  | $$| $$  \ $$| $$  \ $$  /$$$$$$$| $$  \__/| $$  | $$| $$$$$$$$| $$  \__/|  $$$$$$ 
 /$$  \ $$  | $$ /$$| $$  | $$| $$      | $$  | $$| $$  | $$| $$  | $$ /$$__  $$| $$      | $$  | $$| $$_____/| $$       \____  $$
|  $$$$$$/  |  $$$$/|  $$$$$$/| $$      |  $$$$$$$| $$$$$$$/|  $$$$$$/|  $$$$$$$| $$      |  $$$$$$$|  $$$$$$$| $$       /$$$$$$$/
 \______/    \___/   \______/ |__/       \____  $$|_______/  \______/  \_______/|__/       \_______/ \_______/|__/      |_______/ 
                                         /$$  | $$                                                                                
                                        |  $$$$$$/     by Wonder Unit Inc.                                                        
                                         \______/                                                                                 
 -->

<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114987505-1"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114987505-1');
  </script>
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="/js/vendor.js" ></script>
  <script type="text/javascript" src="/js/main.js" ></script>
  <script type="text/javascript" src="/js/player.js" ></script>
  <style>
  
  </style>
</head>
<body>