<div class="player">
  <div class="player__view">
    <div class="player__img-box" style="padding-top: <%= 720.0 / storyboard.width * 100.0 %>%;">
      <img class="player__img"
           src="https://assets.storyboarders.com/<%= storyboard.storyboard_id %>/thumbnail.jpg">
    </div>
  </div>
  <div class="player-controls-container">
    <div class="player-progress">
      <div class="player-progress__meter"></div>
    </div>
    <div class="player-transport">
      <div class="player-transport__col player-transport__col--left">
        <div class="player-transport__time">
          -:-
        </div>
        <div class="player-transport__position">
          -/-
        </div>
      </div>

      <div class="player-transport__col player-transport__col--middle">
        <div class="player-transport__controls">
          <a class="player-transport__btn player-transport__btn--large player-transport__btn--start">
            <svg class="icon">
              <use xlink:href="/gfx/player-transport.svg#icon-start"></use>
            </svg>
          </a>

          <a class="player-transport__btn player-transport__btn--large player-transport__btn--prev">
            <svg class="icon">
              <use xlink:href="/gfx/player-transport.svg#icon-prev"></use>
            </svg>
          </a>

          <a class="player-transport__btn player-transport__btn--large player-transport__btn--playpause player-transport__btn--paused">
            <svg class="icon">
              <use xlink:href="/gfx/player-transport.svg#icon-play"></use>
            </svg>
          </a>

          <a class="player-transport__btn player-transport__btn--large player-transport__btn--next">
            <svg class="icon">
              <use xlink:href="/gfx/player-transport.svg#icon-next"></use>
            </svg>
          </a>

          <a class="player-transport__btn player-transport__btn--large player-transport__btn--end">
            <svg class="icon">
              <use xlink:href="/gfx/player-transport.svg#icon-end"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="player-transport__col player-transport__col--right">
        <div class="player-transport__duration">
          -:-
        </div>
        <div class="player-transport__col--end">
          <a class="player-transport__btn player-transport__fullscreen">
            <svg class="icon icon--medium">
              <use xlink:href="/gfx/player-transport.svg#icon-fullscreen-enter"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>