<%- include('partials/head.ejs'); %>
<%- include('partials/header.ejs'); %>

<!-- <div class="content">
  <section class="container narrow">
    <h1>Hello, and welcome!</h1>
    <p>We're working on a community for Storyboarders! Whether you are a storyboard artist, a story artist, an animator, or any type of storyteller, we are building this for you.
    </p>
    <p>We want this to be a place you come to every day to see great, new work. We want this to be a place where you can post your boards to and get helpful feedback and criticsm from the community.</p>
    <p>We've just started working on it, so please let us know what we can do to make it better!</p>
    <div class="image-container" style="border-radius: 6px; background-image: url('/signature.png'); width: 240px; height: 60px; opacity: 0.8; margin-top: 80px;"></div>
  </section>
</div> -->

<%- include('partials/footer.ejs'); %>