<%- include('partials/head.ejs'); %>
<%- include('partials/header.ejs'); %>


<div class="content">
  <section class="container narrow">


    <h1>Please check your email!</h1>

  </section>
</div>


<%- include('partials/footer.ejs'); %>