<%- include('partials/head.ejs'); %>
<%- include('partials/header.ejs'); %>


<div class="content">
  <section class="container narrow">


    <div style="font-weight: 900; font-size: 140px; line-height: 1.5em;">Big Text</div>
    <div style="font-weight: 900; font-size: 80px; line-height: 1.5em;">Big Text</div>
    <div style="font-weight: 900; font-size: 50px; line-height: 1.5em;">H1 Text</div>
    <div style="font-weight: 900; font-size: 40px; line-height: 1.5em;">H2 Text</div>
    <div style="font-weight: 900; font-size: 30px; line-height: 1.5em;">H3 Text</div>
    <div style="font-weight: 900; font-size: 25px; line-height: 1.5em;">H4 Text</div>
    <div style="font-weight: 300; font-size: 25px; line-height: 1.5em; margin-bottom:20px;">Get more out of your Carbonmade portfolio by upgrading your account today. Get more projects for potential clients to see, more personalization, password protection and more!</div>

    <div style="font-weight: 300; font-size: 18px; line-height: 1.5em; margin-bottom:20px;">Get more out of your Carbonmade portfolio by upgrading your account today. Get more projects for potential clients to see, more personalization, password protection and more!</div>

    <div style="font-weight: 300; font-size: 14px; line-height: 1.5em; margin-bottom:20px;">Get more out of your Carbonmade portfolio by upgrading your account today. Get more projects for potential clients to see, more personalization, password protection and more!</div>

    <div style="font-weight: 300; font-size: 10px; line-height: 1.5em; margin-bottom:20px;">Get more out of your Carbonmade portfolio by upgrading your account today. Get more projects for potential clients to see, more personalization, password protection and more!</div>

    <div style="width: 100px; height: 100px; background-color: #f8faff; border: 1px solid black; border-radius: 4px;"></div>background:  #f8faff
    <div style="width: 100px; height: 100px; background-color: #43474c; border: 1px solid black; border-radius: 4px;"></div>dark gray text:  #43474c
    <div style="width: 100px; height: 100px; background-color: #7a858c; border: 1px solid black; border-radius: 4px;"></div>medium gray text:  #f8faff
    <div style="width: 100px; height: 100px; background-color: #a8adb6; border: 1px solid black; border-radius: 4px;"></div>lighter gray:  #7a858c
    <div style="width: 100px; height: 100px; background-color: #db0093; border: 1px solid black; border-radius: 4px;"></div>pink:  #db0093
    <div style="width: 100px; height: 100px; background-color: #c7ced4; border: 1px solid black; border-radius: 4px;"></div>top footer background:  #c7ced4
    <div style="width: 100px; height: 100px; background-color: #888e92; border: 1px solid black; border-radius: 4px;"></div>top footer text:  #888e92
    <div style="width: 100px; height: 100px; background-color: #262729; border: 1px solid black; border-radius: 4px;"></div>bottom footer background:  #262729
    <div style="width: 100px; height: 100px; background-color: #92929c; border: 1px solid black; border-radius: 4px;"></div>bottom footer text:  #92929c
    <div style="width: 100px; height: 100px; background-color: #4a4afb; border: 1px solid black; border-radius: 4px;"></div>bottom footer text:  #4a4afb
    <div style="width: 100px; height: 100px; background-color: #ffb308; border: 1px solid black; border-radius: 4px;"></div>bottom footer text: #ffb308

  </section>
</div>


<%- include('partials/footer.ejs'); %>